body{
<<<<<<< HEAD
    background: url("@/assets/images/menuburger.png")top/contain no-repeat;
    
}

=======
<<<<<<< HEAD
    background:transparent;
}
=======
    background:white;
}

>>>>>>> 07e1dd531cf67143646daf4adf3125b04818ace6
>>>>>>> 94e719961f743980b46948d54a1c2e7dc23bbd44
